<%= stylesheet_link_tag 'instruments', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>New Instrument</h1>

<%= render 'form', instrument: @instrument %>

<%= link_to 'Back', instruments_path %>
